* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f8fc;
}
nav{
    margin-top: -30%;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    user-select: none;
    position: relative;
}
.first{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}
.first i{
    z-index: 2;
}
.first span{
    z-index: 2;
}
.first::after{
    content: '';
    width: 0%;
    height: 100%;
    background: #5480e9;
    position: absolute;
    left: 0;
    transition: 0.5s ease;
    border-radius: 0.5rem;
}
.first:hover::after{
    width: 100%;
}
.second{
    width: 80%;
    max-width: 35rem;
    background: #fff;
    position: absolute;
    border-radius: 0.5rem;
    box-shadow: 0.375rem 0.375rem 1.25rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.box{
    padding: 1.875rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    position: relative;
    cursor: pointer;
}
.left i {
    z-index: 2;
    position: relative;
    transition: .5s ease-out;
    color: #306bf3;
}
.right h4, .right p{
    z-index: 2;
    position: relative;
    transition: .5s ease-out;
}
.box::before{
    content: '';
    width: 0%;
    height: 100%;
    background: #2f2f2f;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s ease;
}
.box:hover::before{
    width: 100%
}
.box:hover .left i{
    color: #fff;
}
.box:hover .right h4 {
    color: #fff;
}
.box:hover .right p {
    color: #fff;
}
@media(max-width: 1400px) {
    nav {
        margin-top: -50%;
    }
}
@media(max-width: 1100px) {
    html{
        font-size: 14px;
    }
    nav{
        margin-top: -60%;
    }
}
@media(max-width: 700px) {
    html {
        font-size: 12px;
    }
    nav{
        margin-top: -70%;
    }
}
@media(max-width: 600px) {
    html {
        font-size: 10px;
    }

    nav {
        margin-top: -80%;
    }
}
@media(max-width: 500px) {
    html {
        font-size: 8px;
    }

    nav {
        margin-top: -90%;
    }
}
@media(max-width: 400px) {
    html {
        font-size: 7px;
    }
    .container{
        align-items: flex-start;
    }
    nav {
        margin-top: 10%;
    }
}
@media(max-width: 350px) {
    html {
        font-size: 6px;
    }
    .container{
        align-items: flex-start;
    }
    nav {
        margin-top: 10%;
    }
}
@media(max-width: 300px) {
    html {
        font-size: 5px;
    }

    .container {
        align-items: flex-start;
    }

    nav {
        margin-top: 10%;
    }
}
#product{
    transform: scale(0);
    transition: .5s;
}
#start{
    transform: scale(0);
    transition: .5s;
}
#pricing{
    transform: scale(0);
    transition: .5s;
}
#demo{
    transform: scale(0);
    transition: .5s;
}
#more{
    transform: scale(0);
    transition: .5s;
}
.edit {
    background: #5480e9;
}
@media(max-width: 1670px) {
    .second{
        width: 60%;
    }
}
@media(max-width: 1500px) {
    .second {
        width: 60%;
    }
    #more{
        margin-left: -22rem;
    }
}
@media(max-width: 1300px) {
    .second {
        width: 60%;
    }
    #more{
        margin-left: -22rem;
    }
}
@media(max-width: 1000px) {
    .second {
        width: 60%;
    }

    #demo {
        margin-left: -21.5rem;
    }
}